.about-site__title {
  @include footer-title;
  margin-bottom: 30px;
}

.about-site__list {
  @include cancel;
  @include flex-row;
  text-align: left;
  flex-wrap: wrap;
}

.about-site__item {
  width: 50%;
}

.about-site__link {
  @include footer-list-item;
}

@media (max-width: $tablet-width) {
  .about-site__item {
    width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .about-site {
    padding-bottom: 20px;
  }

  .about-site__title,
  .about-site__list {
    @include page-size;
  }
}
