.about-company {
  @include page-size;
  margin-bottom: 100px;
}

.about-company__wrapper {
  @include container;
  @include flex-row;
}

.about-company__explanation {
  width: 85%;
}

.about-company__header {
  @include main-header;
  margin-bottom: 20px;
}

.about-company__text {
  @include main-text;
  margin-bottom: 20px;
}

.about-company__button {
  @include button-text;
  @include blue-border-button;
  padding: 15px 50px;
  margin-top: 15px;
}

.about-company__icon {
   max-height: 100%;
  }

@media (max-width: $tablet-width) {
  .about-company__explanation {
    width: 74%;
  }
  .about-company__icon {
    width: 137px;
  }
  
  .about-company__text {
    @include main-text;
    margin-bottom: 22px;
  }
  
  .about-company {
    @include main-text;
    margin-bottom: 70px;
  }
}

@media (max-width: $mobile-width) {
  .about-company__icon {
    display: none;
  }
  
  .about-company__explanation {
    width: 100%;
  }
  
  .about-company__text {
   margin-bottom: 25px;
  }
  
  .about-company__text:last-child {
   margin-bottom: 5px;
  }

  .about-company {
    margin-bottom: 63px;
  }
}
