.about-company {
  @include page-size;
  margin-bottom: 100px;
}

.about-company__wrapper {
  @include container;
  @include flex-row;
}

.about-company__explanation {
  margin-top: -12px;
  width: 85%;
}

.about-company__header {
  @include main-header;
  margin-bottom: 20px;
}

.about-company__texts {
  margin-bottom: 40px;
}

.about-company__text {
  @include main-text;
  margin-bottom: 20px;

  &:last-child {
    @include main-text;
    margin-bottom: 0;
  }
}

.about-company__button {
  @include button-text;
  @include blue-border-button;
  padding: 13px 50px;
}

.about-company__image {
  height: 100%;
  width: 117px;
  margin-right: 43px;
}

@media (max-width: $tablet-width) {
  .about-company {
    margin-bottom: 77px;
  }

  .about-company__icon {
    width: 137px;
  }

  .about-company__header {
    margin-bottom: 24px;
  }
  
  .about-company__texts {
    margin-bottom: 43px;
  }

  .about-company__explanation {
    width: 74%;
  }

  .about-company__text {
    margin-bottom: 18px;
  }
  
  .about-company__image {
    width: 132px;
  }
}

@media (max-width: $mobile-width) {
  .about-company {
    margin-bottom: 63px;
    width: 90%;
  }

  .about-company__header {
    @include main-header;
    margin-bottom: 18px;
  }

  .about-company__wrapper picture {
    display: none;
  }

  .about-company__explanation {
    width: 100%;
    margin-left: 0;
  }
  
  .about-company__texts {
    margin-bottom: 28px;
  }

  .about-company__text {
    margin-bottom: 40px;
  }

  .about-company__text:last-child {
    margin-bottom: 0;
  }
  
  .about-company__button {
    padding: 14px 49px;
  }
}
