.about-company {
  @include page-size;
  margin-bottom: 90px;
}

.about-company__wrapper {
  @include container;
  @include flex-row;
}

.about-company__header {
  @include main-header;
  margin-bottom: 20px;
}

.about-company__text {
  @include main-text;
  margin-bottom: 20px;
}

.about-company__button {
  @include button-text;
  @include blue-border-button;
  padding: 15px 50px;
  margin-top: 15px;
}

@media (max-width: $mobile-width) {
  .about-company__icon {
    display: none;
  }

  .about-company {
    margin-bottom: 60px;
  }
}
