.about-office__title {
  @include footer-title;
  margin-bottom: 30px;
}

.about-office__list {
  @include cancel;
}

.about-office__link {
  @include footer-list-item;
  @include black-link;
}

.about-office__toggle {
  @include toggle;
}

@media (max-width: $tablet-width) {
  .about-office {
    width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .about-office__title,
  .about-office__list {
    @include page-size;
    margin-bottom: 20px;
  }

  .about-office {
    padding-top: 20px;
    position: relative;
  }


  .about-office--closed .about-office__list {
    display: none;
  }

  .about-office--opened .about-office__list {
    display: block;
  }

  .about-office--closed .about-office__toggle {
    background-image: url("../img/icon-plus.svg");
  }

  .about-office--opened .about-office__toggle {
    background-image: url("../img/icon-minus.svg");
  }
}
