.about {
  @include page-size;
  margin-bottom: 50px;
}

.about__wrapper {
  @include container;
  @include flex-row;
}

.about__icon {
  margin-right: 30px;
  height: 280px;
  max-height: 500px;
}

.about__header {
  font-family: $roboto-mono-bold-font;
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 20px;
}

.about__text {
  font-family: $pt-mono-regular-font;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 20px;
}

.about__button {
  color: $blue-color;
  background-color: $white-color;
  border: 1px solid $blue-color;
  text-align: 16px;
  padding: 15px 40px;
}

@media (max-width: 767px) {
  .about__icon {
    display: none;
  }
}
