.about-site {
  width: 43%;
}

.about-site__title {
  @include footer-title;
  margin-bottom: 25px;
}

.about-site__toggle {
  @include toggle;
}

.about-site__list {
  @include cancel;
  @include flex-row;
  flex-wrap: wrap;
  text-align: left;
  list-style-position: inside;
}

.about-site__list-left {
  @include cancel;
}

.about-site__list-right {
  @include cancel;
}

.about-site__link {
  @include footer-list-item;
  @include black-link;
}

@media (max-width: $tablet-width) {
  .about-site__list {
    @include flex-column;
  }
}

@media (max-width: $mobile-width) {
  .about-site {
    padding-top: 25px;
    position: relative;
    border-bottom: 1px solid #626962;
    width: 100%;
  }

  .about-site__list {
    @include flex-column;
  }

  .about-site--closed .about-site__list {
    display: none;
  }

  .about-site--opened .about-site__list {
    display: block;
  }

  .about-site--closed .about-site__toggle {
    background-image: url("../img/icon-plus.svg");
  }

  .about-site--opened .about-site__toggle {
    background-image: url("../img/icon-minus.svg");
  }

  .about-site__title,
  .about-site__list {
    @include page-size;
    margin-bottom: 30px;
  }
}
