.about-office {
  width: 30%;
}

.about-office__title {
  font-family: $roboto-mono-regular-font;
  font-size: 15px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.about-office__list {
  @include cancel;
  @include flex-row;
  flex-wrap: wrap;
}

.about-office__link {
  font-family: $pt-mono-regular-font;
  font-size: 15px;
  color: $header-bg-color;
  font-weight: normal;
  text-decoration: none;
}
