.advantages {
  @include page-size;
  margin-bottom: 110px;
}

.advantages__list {
  @include cancel;
  @include flex-row;
  @include container;
  flex-wrap: wrap;
  padding-top: 115px;
  align-items: stretch;
}

.advantages__item {
  position: relative;
  width: 43%;
  margin-bottom: 20px;
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 70px;
  border: 1px solid $border-color;
  border-left: 3px solid $blue-color;
}

.advantages__item--active {
  background-color: $blue-color;
  color: $white-color;
  border: none;
}

.advantages__title {
  margin-bottom: 15px;
  font-family: $roboto-mono-regular-font;
  font-size: 24px;
  line-height: 34px;
  color: $blue-color;
}

.advantages__text {
  @include main-text;
  color: $black-color;
}

.advantages__item--active .advantages__title,
.advantages__item--active .advantages__text {
  color: $white-color;
  background-color: $blue-color;
  border: none;
}

.advantages__item--contractor::before {
  @include icon-absolute-position;
  background-image: url("../img/icon-people.svg");
}

.advantages__item--detective::before {
  @include icon-absolute-position;
  background-image: url("../img/icon-detective.svg");
}

.advantages__item--price::before {
  @include icon-absolute-position;
  background-image: url("../img/icon-price.svg");
}

.advantages__item--time::before {
  @include icon-absolute-position;
  background-image: url("../img/icon-clock-active.svg");
}

@media (max-width: $tablet-width) {
  .advantages__item {
    padding-left: 25px;
    width: 43%;
  }
}

@media (max-width: $mobile-width) {
  .advantages__item {
    width: 100%;
  }

  .advantages__title {
    font-size: 20px;
  }
}
