.advantages {
  @include page-size;
  margin-bottom: 15px;
}

.advantages__list {
  @include cancel;
  @include flex-row;
  @include container;
  flex-wrap: wrap;
}

.advantages__item {
  position: relative;
  width: 44%;
  margin-bottom: 20px;
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 70px;
  border: 1px solid $border-color;
  border-left: 3px solid $blue-color;
  cursor: pointer;

  &:hover {
    color: $white-color;
    background-color: $light-grey;
    border: none;
  }

  &:active {
    color: $white-color;
    background-color: $blue-color;
    border: none;
  }

  &:active .advantages__title,
  &:active .advantages__text {
    color: $white-color;
    background-color: $blue-color;
    border: none;
  }

  &--contractor::before {
    @include icon-absolute-position;
    background-image: url("../img/icon-people.svg");
  }

  &--contractor:active::before {
    background-image: url("../img/icon-people-active.svg");
  }

  &--price::before {
    @include icon-absolute-position;
    background-image: url("../img/icon-price.svg");
  }

  &--price:active::before {
    background-image: url("../img/icon-price-active.svg");
  }

  &--detective::before {
    @include icon-absolute-position;
    background-image: url("../img/icon-detective.svg");
  }

  &--detective:active::before {
    background-image: url("../img/icon-detective-active.svg");
  }

  &--time::before {
    @include icon-absolute-position;
    background-image: url("../img/icon-clock.svg");
  }

  &--time:active::before {
    background-image: url("../img/icon-clock-active.svg");
  }
}

.advantages__title {
  margin-bottom: 15px;
  font-family: $roboto-mono-regular-font;
  font-size: 24px;
  line-height: 34px;
  color: $blue-color;
}

.advantages__text {
  @include main-text;
  color: $black-color;
}

@media (max-width: $tablet-width) {
  .advantages__item {
    margin-bottom: 25px;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 30px;
    width: 41%;
  }

  .advantages__title {
    font-size: 20px;
  }
}

@media (max-width: $mobile-width) {
  .advantages__item {
    width: 100%;
    padding-top: 70px;
    padding-right: 5px;
    padding-left: 20px;
    padding-bottom: 30px;
  }

  .advantages__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
