.advantages {
  width: 100%;
  background-position: 92% 245px;
}

.advantages__wrapper {
  @include page-size;
}

.advantages__list {
  @include cancel;
  @include flex-wrap;
  @include container;
  flex-wrap: wrap;
}

.advantages__item {
  position: relative;
  max-width: 42%;
  min-height: 130px;
  margin-bottom: 20px;
  padding-top: 100px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 70px;
  background-color: $white-color;
  border: 1px solid $border-color;
  border-left: 3px solid $blue-color;
  cursor: pointer;
  z-index: 10;

  &:hover {
    color: $white-color;
    background-color: $blue-color;
    border: 1px solid $blue-color;
  }

  &:hover .advantages__title,
  &:hover .advantages__text {
    color: $white-color;
    background-color: $blue-color;
  }

  &--contractor::before {
    @include icon-absolute-position;
    background-image: url("../img/icon-people.svg");
  }

  &--contractor:hover::before {
    background-image: url("../img/icon-people-active.svg");
    border: 1px solid $blue-color;
  }

  &--price::before {
    @include icon-absolute-position;
    background-image: url("../img/icon-price.svg");
  }

  &--price:hover::before {
    background-image: url("../img/icon-price-active.svg");
    border: 1px solid $blue-color;
  }

  &--detective::before {
    @include icon-absolute-position;
    background-image: url("../img/icon-detective.svg");
  }

  &--detective:hover::before {
    background-image: url("../img/icon-detective-active.svg");
    border: 1px solid $blue-color;
  }

  &--time::before {
    @include icon-absolute-position;
    background-image: url("../img/icon-clock.svg");
  }

  &--time:hover::before {
    background-image: url("../img/icon-clock-active.svg");
  }
}
//@media (min-width: $desktop-width) {
  .advantages {
    margin-bottom: 90px;
    
  }
//}

.advantages__title {
  margin-bottom: 15px;
  font-family: $robotocondensedbold;
  font-size: 24px;
  line-height: 34px;
  color: $blue-color;
}

.advantages__text {
  @include main-text;
  color: $black-color;
}

@media (max-width: $tablet-width) {
  .advantages__item {
    margin-bottom: 29px;
    padding-right: 3%;
    padding-top: 65px;
    padding-bottom: 20px;
    max-width: 41%;
    min-height: 145px;
  }
  
  .advantages {
    @include page-size;
    margin-bottom: 25px;
  }

  .advantages__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

@media (max-width: $mobile-width) {
.advantages {
  margin-bottom: 5px;
}
  .advantages__item {
    margin-right: 0;
    max-width: 90%;
    min-height: 138px;
    margin-bottom: 22px;
    padding-top: 70px;
    padding-right: 5%;
    padding-left: 8%;
    padding-bottom: 22px;
    
    &:last-child {
    margin-bottom: 0;
    }
  }

  .advantages__title {
    font-size: 20px;
    margin-bottom: 13px;
  }
  
  .advantages__wrapper {
    width: 99%;
  }
}
