.advantages {
  margin-bottom: 95px;
}

.advantages__wrapper {
  @include page-size;
}

.advantages__list {
  @include cancel;
  @include flex-wrap;
  @include container;
  flex-wrap: wrap;
}

.advantages__item {
  position: relative;
  max-width: 41%;
  min-height: 130px;
  margin-bottom: 25px;
  padding-top: 93px;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 70px;
  background-color: $white-color;
  border: 1px solid $border-color;
  border-left: 3px solid $blue-color;
  cursor: pointer;

  &:hover {
    color: $white-color;
    background-color: $blue-color;
    border: 1px solid $blue-color;
  }

  &:hover .advantages__title,
  &:hover .advantages__text {
    color: $white-color;
    background-color: $blue-color;
  }

  &--time::before {
    @include icon-absolute-position;
    background-image: url("../img/icon-clock.svg");
  }

  &--time:hover::before {
    background-image: url("../img/icon-clock-active.svg");
  }

  &--contractor::before {
    @include icon-absolute-position;
    background-image: url("../img/icon-people.svg");
  }

  &--contractor:hover::before {
    background-image: url("../img/icon-people-active.svg");
    border: 1px solid $blue-color;
  }

  &--detective::before {
    @include icon-absolute-position;
    background-image: url("../img/icon-detective.svg");
  }

  &--detective:hover::before {
    background-image: url("../img/icon-detective-active.svg");
    border: 1px solid $blue-color;
  }

  &--price::before {
    @include icon-absolute-position;
    background-image: url("../img/icon-price.svg");
  }

  &--price:hover::before {
    background-image: url("../img/icon-price-active.svg");
    border: 1px solid $blue-color;
  }
}

.advantages__title {
  margin-bottom: 16px;
  font-family: $robotocondensedregular;
  font-size: 24px;
  line-height: 34px;
  color: $blue-color;
}

.advantages__text {
  @include main-text;
  color: $black-color;
}

@media (max-width: $tablet-width) {
  .advantages {
    margin-bottom: 38px;
  }
  
  .advantages__list {
    width: 100%;
  }


  .advantages__item {
    margin-bottom: 29px;
    padding-top: 64px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 28px;
    
    max-width: 40%;
    min-height: 145px;
  }

  .advantages__title {
    margin-bottom: 8px;
    font-weight: normal;
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    margin-bottom: 63px;
  }

  .advantages__item {
    margin-right: 0;
    max-width: 91%;
    min-height: 138px;
    margin-bottom: 20px;
    padding-top: 68px;
    padding-right: 17px;
    padding-left: 26px;
    padding-bottom: 23px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .advantages__item--detective {
    margin-right: 0;
    padding-top: 61px;
    padding-right: 25px;
    padding-bottom: 35px;
  }
  
  .advantages__item--detective .advantages__title {
    margin-bottom: -12px;
    line-height: 32px;
  }
  
  .advantages__item--price {
    letter-spacing: 0.2px;
  }
  .advantages__title {
    letter-spacing: 0.2px;
  }
  
  .advantages__item--contractor {
    padding-right: 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .advantages__item--price {
    padding-top: 66px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .advantages__text {
    font-size: 1rem;
  }

  .advantages__title {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
