.contacts {
  @include cancel;
  @include flex-row;
  width: 55%;
}

.contacts__item {
  margin-right: 10px;
  padding-top: 10px;
  font-family: $pt-mono-regular-font;
}

.contacts__item a {
  color: $white-color;
  font-size: 16px;
  text-decoration: none;
}

.contacts__button {
  color: $white-color;
  font-family: $roboto-mono-bold-font;
  font-size: 14px;
  line-height: 16px;
  padding: 12px;
  margin-top: -18px;
  background-color: transparent;
  border: 1px solid $white-color;
}

@media (max-width: $tablet-width) {
  .contacts {
    width: 10%;
  }

  .contacts__text {
    display: none;
  }

  .contacts__button {
    display: none;
  }
}
