.contacts {
  @include cancel;
  @include flex-row;
  flex-wrap: wrap;
  min-width: 47%;
  align-items: center;
  margin-top: 10px;
}

.contacts__item {
  margin-right: 30px;
  margin-top: -6px;
  font-family: $pt-mono-regular-font;

  &:last-child {
    margin-right: 0;
  }
}

.contacts__item--mail svg {
  width: 19px;
  height: 14px;
}

.contacts__item--phone svg {
  width: 17px;
  height: 17px;
}

.contacts__item:first-child {
  margin-right: 75px;
}

.contacts__item a {
  font-family: $pt-mono-regular-font;
  color: $white-color;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.contacts__text {
  @include white-link;
  margin-left: 10px;
}

.contacts__button {
  @include white-button;
  margin-top: -3px;
  padding: 12px 27px;
  font-family: $robotocondensedbold;
}

@media (max-width: $tablet-width) {
  .contacts {
    min-width: 82px;
  }

  .contacts__item {
    margin-right: 0;
    margin-top: -6px;
  }

  .contacts__item:first-child {
    margin-right: 0;
    margin-top: -9px;
  }

  .contacts__item--mail svg {
    width: 25px;
    height: 18px;
  }

  .contacts__item--phone svg {
    width: 24px;
    height: 24px;
  }

  .contacts__item--order-call {
    @include visually-hiddens;
  }

  .contacts__text {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .contacts {
    margin-top: 12px;
    min-width: 75px;
  }
}