.contacts {
  @include cancel;
  @include flex-row;
  flex-wrap: wrap;
}

.contacts__item {
  margin-right: 20px;
  font-family: $pt-mono-regular-font;

  &:last-child {
    margin-right: 0;
  }
}

.contacts__item--order-call {
  
}

.contacts__item a {
  color: $white-color;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.contacts__text {
  @include white-link;
}

.contacts__button {
  @include white-button;
  margin-top: -18px;
  padding: 12px 27px;
}

@media (max-width: $tablet-width) {
  .contacts__text {
    display: none;
  }

  .contacts__item {
    margin-right: 10px;
  }

  .contacts__button {
    display: none;
  }
}
