.contacts {
  @include cancel;
  @include flex-row;
}

.contacts__item {
  margin-right: 20px;
  padding-top: 10px;
  font-family: $pt-mono-regular-font;
}

.contacts__item a {
  color: $white-color;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.contacts__button {
  @include white-button;
  padding: 12px 27px;
  margin-top: -18px;
}

@media (max-width: $tablet-width) {
  .contacts__text {
    display: none;
  }

  .contacts__button {
    display: none;
  }
}
