.copyrights {
  @include page-size;
  padding-top: 15px;
  padding-bottom: 15px;
}

.copyrights__list {
  @include flex-row;
  @include cancel;
}

.copyrights__item,
.copyrights__info {
  @include footer-copyrights;
}

@media (max-width: $tablet-width) {
  .copyrights__item--all-rights {
    display: none;
  }

  .copyrights__item--sd {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .copyrights__list {
    @include flex-column;
    aligh-items: center;
  }

  .copyrights__item {
    text-align: center;
    padding-bottom: 20px;
  }
}
