.copyrights {
  @include page-size;
  padding-top: 20px;
  padding-bottom: 15px;
}

.copyrights__list,
.copyrights__left {
  @include cancel;
  @include flex-row;
  flex-wrap: wrap;
}

.copyrights__left {
  width: 59%;
}

.copyrights__item,
.copyrights__info {
  @include footer-copyrights;
  @include black-link;
}

.copyrights__item:last-child {
  margin-left: 16%;
}

.copyrights__item:first-child {
  margin-right: 6%;
}

@media (max-width: $tablet-width) {
  .copyrights__item--all-rights {
    display: none;
  }

  .copyrights__item--sd {
    display: none;
  }
  
  .copyrights__item:last-child {
    margin-left: 0;
  }
}

@media (max-width: $mobile-width) {
  .copyright {
    align-items: center;
    padding-bottom: 0;
  }
  .copyrights__list {
    @include flex-column;
    align-items: center;
  align-content: center;
  justify-content: center;
    
  }

  .copyrights__item {
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
    margin-right: 0;

    &:last-child {
      margin-left: 0;
    }
  }

  .copyrights__left {
    width: 74%;
    flex-direction: row;
    text-align: center;
  }
}
