.footer-logo {
  @include flex-row;
  justify-content: space-between;
  margin-bottom: 55px;
  padding-top: 5px;
  cursor: pointer;
}

.footer-logo__icon {
  margin-right: 10px;
}

.footer-logo__text {
  @include flex-column;
  margin-left: 15px;
}

.footer-logo__header {
  @include logo-header;
  color: $footer-logo-color;
}

.footer-logo__add {
  @include logo-add;
}

@media (max-width: $tablet-width) {
  .footer-logo {
    margin-bottom: 0;
  }
}

@media (max-width: $mobile-width) {
  .footer-logo {
    width: 212px;
    margin: 0 auto;
    margin-bottom: 0;
  }
  
  .footer-logo__icon {
    width: 52px;
    height: 52px;
  }
}
