.footer-logo {
  @include flex-row;
  justify-content: space-between;
  margin-bottom: 45px;
  cursor: pointer;
  min-width: 217px;
}

.footer-logo__icon {
  width: 52px;
  height: 52px;
}

.footer-logo__text {
  @include flex-column;
  margin-left: 25px;
  margin-bottom: 10px;
}

.footer-logo__header {
  @include logo-header;
  color: $footer-logo-color;
  font-family: $robotocondensedbold;
  margin-top: 9px;
}

.footer-logo__add {
  @include logo-add;
}

@media (max-width: $tablet-width) {
  .footer-logo {
    margin-bottom: 0;
  }
  
  .footer-logo__text {
    margin-left: 0;
  }
}

@media (max-width: $mobile-width) {
  .footer-logo {
    width: 212px;
    margin: 0 auto;
    margin-bottom: 0;
    align-items: center;
  }

  .footer-logo__text {
    @include flex-column;
    margin-left: 0;
  }

  .footer-logo__icon {
    width: 52px;
    height: 52px;
  }
}
