.footer-logo {
  @include flex-row;
  justify-content: space-around;
  margin-bottom: 30px;
}

.footer-logo__icon {
  margin-right: 10px;
}

.footer-logo__text {
  @include flex-column;
  margin-left: 15px;
}

.footer-logo__header {
  @include logo-header;
  color: $footer-logo-color;
}

.footer-logo__add {
  @include logo-add;
}

@media (max-width: $mobile-width) {
  .footer-logo {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
