.footer {
  padding-top: 62px;
  padding-bottom: 55px;
  background-color: $footer-bg-color;
}

.footer__up {
  padding-bottom: 60px;
  border-bottom: 1px solid #626962;
}

.footer__wrapper {
  @include flex-row;
  @include page-size;
}

.footer__copyrights-tablet {
  display: none;
}

.footer__about {
  @include flex-row;
  width: 70%;
}

.footer__under-popup {
  opacity: 0.8;
}

@media (max-width: $tablet-width) {
  .footer {
    padding-top: 20px;
  }

  .footer__wrapper {
    @include flex-column;
    width: 100%;
  }

  .footer__left {
    border-bottom: 1px solid #626962;
    padding-bottom: 30px;
  }

  .footer__left-wrapper {
    @include page-size;
    @include flex-row;
  }

  .footer__up {
    padding-bottom: 36px;
  }

  .footer__copyrights-tablet {
    @include footer-copyrights;
    display: block;
    padding-top: 18px;
  }

  .footer__about {
    @include page-size;
    padding-top: 32px;
  }
}

@media (max-width: $mobile-width) {
  .footer {
    padding-top: 45px;
  }

  .footer__up {
    padding-bottom: 0;
  }

  .footer__left {
    padding-bottom: 45px;
  }

  .footer__left-wrapper {
    @include flex-column;
  }

  .footer__about {
    @include flex-column;
    padding-top: 0;
    width: 100%;
  }

  .footer__copyrights-tablet {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer__about-site {
    border-bottom: 1px solid #626962;
    width: 100%;
  }

  .footer__about-office {
    width: 100%;
  }
}
