.form__comment-item {
  border: none;
}

.form__list {
  @include cancel;
  @include flex-row;
  flex-wrap: wrap;
}

.form__item-input {
  @include input;
  margin-bottom: 45px;
}

.form__item-input::placeholder {
  @include main-text;
  color: white;
}

.form__item--name,
.form__item--number {
  width: 48%;
}

.form__item--question {
  width: 100%;
}

.form__area {
  @include text-area;
  margin-bottom: 44px;
  height: 120px;
}

.form__buttons {
  @include flex-row;
  font-family: $roboto-mono-bold-font;
  color: $white-color;
  flex-wrap: wrap;
}

.form__button {
  @include white-button;
  padding: 15px;
  width: 46%;
}

.form__label {
  @include white-link;
  display: flex;
  flex-direction: row;
  font-family: $pt-mono-regular-font;
  width: 47%;
  opacity: 0.8;
  letter-spacing: 0.05em;

  &:hover {
    color: $grey-color;
  }

  &:active {
    opacity: 0.5;
  }
}

.form__label--checkbox label {
  position: relative;
  margin-left: 30px;
}

.form__input-checkbox + label::before {
  @include checkbox;
  background: url("../../img/checkbox-off.svg") no-repeat;
}

.form__input-checkbox:checked + label::before {
  @include checkbox;
  background: url("../../img/checkbox-on.svg") no-repeat;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.form--error {
  animation: shake 0.6s;
}

@media (max-width: $tablet-width) {
  .form__item-input {
    @include input;
    margin-bottom: 38px;
  }

  .form__area {
    margin-bottom: 40px;
  }

  .form__button {
    width: 47%;
  }
}

@media (max-width: $mobile-width) {
  .form__buttons {
    @include flex-column;
  }

  .form__button {
    margin-bottom: 25px;
    width: 100%;
  }

  .form__item-input {
    @include input;
    margin-bottom: 25px;
  }

  .form__area {
    margin-bottom: 28px;
  }

  .form__button,
  .form__label,
  .form__item {
    width: 100%;
  }
}
