.form__comment-item {
  border: none;
}

.form__list {
  @include cancel;
  @include flex-row;
  flex-wrap: wrap;
}

.form__item-input {
  @include input;
  margin-bottom: 20px;
}

.form__item-input [placeholder] {
  @include main-text;
  color: $white-color;
}

.form__item--name,
.form__item--number {
  width: 48%;
}

.form__item--question {
  width: 94%;
}

.form__area {
  @include text-area;
  margin-bottom: 30px;
}

.form__buttons {
  @include flex-row;
  font-family: $roboto-mono-bold-font;
  color: $white-color;
  flex-wrap: wrap;
}

.form__button {
  @include white-button;
  padding: 5px;
  width: 40%;
}

.form__label {
  @include white-link;
  width: 50%;
  opacity: 0.8;
}

.form__input-checkbox {
  width: 16px;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}

@media (max-width: $mobile-width) {
  .form__buttons {
    @include flex-column;
  }

  .form__button {
    width: 100%;
  }

  .form__label {
    width: 100%;
  }

  .form__item {
    width: 100%;
    // background-color: rgba(0, 178, 255, 0.4);
  }
}
