.form__comment-item {
  border: none;
}

.form__list {
  @include cancel;
  @include flex-row;
  flex-wrap: wrap;
}

.form__item-input {
  @include input;
  margin-bottom: 45px;
}

.form__item-input::placeholder {
  @include main-text;
  color: white;
}

.form__item--name,
.form__item--number {
  width: 48%;
}

.form__item--question {
  width: 94%;
}

.form__area {
  @include text-area;
  margin-bottom: 44px;
  height: 120px;
}

.form__buttons {
  @include flex-row;
  font-family: $roboto-mono-bold-font;
  color: $white-color;
  flex-wrap: wrap;
}

.form__button {
  @include white-button;
  padding: 15px;
  width: 46%;
}

abel:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #aaa;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}


.form__label {
  @include white-link;
  font-family: $pt-mono-regular-font;
  width: 47%;
  opacity: 0.8;
  letter-spacing: 0.05em;
}

.form__input-checkbox {
  width: 16px;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}
@media (max-width: $tablet-width) {
  .form__item-input {
    @include input;
    margin-bottom: 38px;
  }
  
  .form__area {
    margin-bottom: 40px;
  }
  
  .form__button {
    width: 47%;
  }
}
@media (max-width: $mobile-width) {
  .form__buttons {
    @include flex-column;
  }
  
  .form__button {
    margin-bottom: 25px;
    width: 100%;
  }
  .form__item-input {
  @include input;
  margin-bottom: 25px;
}
  .form__area {
    margin-bottom: 28px;
  }
  

  .form__button,
  .form__label,
  .form__item {
    width: 100%;
  }
}
