.header {
  background-color: $header-bg-color;
  background-image: url("../../img/background.png");
}

.header__wrapper {
  @include page-size;
  @include flex-row;
  margin-bottom: 40px;
  padding-top: 40px;
}

.header__logo {
  width: 260px;
}

.header__navigation {
  margin-right: 10%;
  margin-left: 5%;
}

.header__contacts {
  min-width: 47%;
  max-width: 60%;
  padding-right: 0;
}

.header__promo {
  @include page-size;
}

@media (max-width: $tablet-width) {
  .header__wrapper {
    @include page-size;
    @include flex-row;
    margin-bottom: 40px;
    padding-top: 25px;
  }

  .header__logo {
    width: 260px;
  }

  .header__navigation {
    margin-right: 20px;
    margin-left: 35%;
  }


  .header__contacts {
    min-width: 10%;
    margin-left: 20px;
  }
}

@media (max-width: $mobile-width) {
  .header__contacts {
    margin-right: 20px;
  }

  .header__navigation {
    margin-right: 20px;
    margin-left: 12%;
  }
}
