.header {
  background-color: $header-bg-color;
  background-image: url("../../img/background.png");
}

.header__wrapper {
  @include page-size;
  @include flex-row;
  margin-bottom: 40px;
  padding-top: 40px;
}

.header__logo {
  width: 260px;
}

.header__menu {
  @include flex-row;
  width: 70%;
}

.header__navigation {
  margin-right: 10px;
}

.header__contacts {
  width: 90%;
}

.header__promo {
  @include page-size;
}

@media (max-width: $tablet-width) {
  .header__wrapper {
    padding-top: 25px;
  }

  .header__menu {
    width: 150px;
  }

  .header__navigation {
    margin-right: 0;
  }

  .header__contacts {
    width: 90px;
  }
}

@media (max-width: $mobile-width) {
  .header__logo {
    width: 50px;
  }
}
