.header {
  margin-bottom: 44px;
  background-color: $header-bg-color;
  background-image: url("../img/background.png");
}

.header__wrapper {
  @include page-size;
  @include flex-row;
  margin-bottom: 170px;
  padding-top: 35px;
}

.header__under-popup {
  opacity: 0.8;
}

@media (max-width: $tablet-width) {
  .header {
    width: 100%;
    margin-bottom: 55px;
  }

  .header__wrapper {
    padding-top: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: $mobile-width) {
  .header {
    width: 100%;
    margin-bottom: 38px;
  }

  .header__wrapper {
    margin-bottom: 15px;
    padding-top: 15px;
  }

  .header__logo {
    width: 38px;
    height: 38px;
  }

  .header__contacts {
    min-width: 70px;
  }
}
