.header {
  margin-bottom: 110px;
  background-color: $header-bg-color;
  background-image: url("../../img/background.png");
}

.header__wrapper {
  @include page-size;
  @include flex-row;
  margin-bottom: 170px;
  padding-top: 35px;
}

.header__logo {
  width: 200px;
}

.header__menu {
  @include flex-row;
  min-width: 70%;
  align-items: center;
}

.header__contacts {
  min-width: 67%;
  align-items: center;
}

@media (max-width: $tablet-width) {
  .header {
    width: 100%;
    margin-bottom: 40px;
  }

  .header__wrapper {
    padding-top: 25px;
    margin-bottom: 55px;
  }

  .header__menu {
    min-width: 160px;
  }

  .header__contacts {
    min-width: 82px;
  }
}

@media (max-width: $mobile-width) {
  .header {
    width: 100%;
    margin-bottom: 35px;
  }

  .header__wrapper {
    padding-top: 15px;
    margin-bottom: 35px;
  }

  .header__logo {
    width: 38px;
    height: 38px;
  }

  .header__menu {
    min-width: 140px;
  }

  .header__contacts {
    min-width: 70px;
  }
}
