.header {
  margin-bottom: 80px;
  background-color: $header-bg-color;
  background-image: url("../../img/background.png");
}

.header__wrapper {
  @include page-size;
  @include flex-row;
  margin-bottom: 40px;
  padding-top: 40px;
}

.header__logo {
  width: 260px;
}

.header__menu {
  @include flex-row;
  min-width: 70%;
}

.header__contacts {
  min-width: 80%;
}

.header__promo {
  @include page-size;
}

@media (max-width: $tablet-width) {
  .header__wrapper {
    padding-top: 25px;
  }

  .header__menu {
    min-width: 150px;
  }

  .header__contacts {
    min-width: 90px;
  }
}

@media (max-width: $mobile-width) {
  .header__logo {
    width: 50px;
  }
}
