.logo__link {
  @include flex-row;
  cursor: pointer;
}

.logo__text {
  @include flex-column;
}

.logo__header {
  @include logo-header;
  
  color: $white-color;
}

.logo__add {
  @include logo-add;
}

@media (max-width: $mobile-width) {
  .logo__text {
    display: none;
  }

  .logo__icon {
    height: 52px;
    width: 52px;
  }
}
