.logo {
  min-width: 205px;
}

.logo__link {
  @include flex-row;
  cursor: pointer;
}

.logo__icon {
  width: 52px;
  height: 52px;
}

.logo__text {
  @include flex-column;
}

.logo__header {
  @include logo-header;
  color: $white-color;
}

.logo__add {
  @include logo-add;
}

@media (max-width: $mobile-width) {
  .logo {
    min-width: 52px;
  }
  
  .logo__text {
    margin-left: 7px;
  }

  .logo__icon {
    width: 45px;
    height: 38px;
  }

  .logo__text {
    display: none;
  }
}
