@media (min-width: $desktop-width) {
  .main {
    background-image: url("../img/background-desktop1.svg");
    background-repeat: no-repeat;
    padding-top: 70px;
  }
}

@media (max-width: $tablet-width) {
  .main {
    background-image: url("../img/background-tablet.svg");
    padding-top: 0;
  }
}

@media (max-width: $mobile-width) {
  .main {
    background-image: url("../img/background-mobile.svg");
    padding-top: 0;
  }
}
