@media (min-width: $desktop-width) {
  .main {
    background-image: url("../../img/background-desktop1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-top: 70px;
  }
}

.main__under-popup {
  opacity: 0.8;
}

@media (max-width: $tablet-width) {
  .main {
    background-image: url("../../img/background-tablet.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-top: 0;
    z-index: 20;
  }
}

@media (max-width: $mobile-width) {
  .main {
    background-image: url("../../img/background-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-top: 0;
    z-index: 20;
  }
}
