.navigation {
  margin-right: 10%;
  margin-left: 5%;
}

.navigation__toggle {
  background: transparent;
  border: none;
}

@media (max-width: $tablet-width) {
  .navigation {
    margin-right: 0;
    margin-left: 50%;
  }

  .navigation__toggle {
    background: transparent;
    border: none;
  }
}
