.popup {
  display: none;
  position: absolute;
  top: 135px;
  background-color: $blue-color;
  z-index: 100;
  width: 26%;
  margin-left: 37%;
}

.popup__wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

.popup__header {
  color: $white-color;
  font-family: $robotocondensedbold;
  font-size: 28px;
  line-height: 39px;
  font-weight: normal;
  margin-bottom: 13px;
}

.popup__text {
  @include main-text;
  color: $white-color;
  margin-bottom: 32px;
}

.popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 17px;
  height: 17px;
  background-image: url("../../img/icon-close.svg");
  background-color: $blue-color;
  border: none;
}

.popup--show {
  display: block;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.popup--error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
}
