.popup-form__comment-item {
  border: none;
}

.popup-form__item-input {
  @include input;
  margin-bottom: 20px;
}

.popup-form__area {
  @include text-area;
  @include main-text;
  margin-bottom: 20px;
}

.popup-form__button {
  @include white-button;
  margin-bottom: 20px;
  width: 100%;
  padding: 15px;
}

.popup-form__label {
  color: $white-color;
  font-size: 14px;
  line-height: 16px;
  font-family: $pt-mono-regular-font;
  margin-bottom: 30px;
}

.popup-form__item-input [placeholder] {
  @include main-text;
  color: $white-color;
}
