.popup-form__list {
  @include cancel;
}

.popup-form__comment-item {
  border: none;
}

.popup-form__item-input {
  @include input;
  margin-bottom: 35px;
}

.popup-form__area {
  @include text-area;
  @include main-text;
  margin-bottom: 25px;
}

.popup-form__button {
  @include white-button;
  margin-bottom: 30px;
  width: 100%;
  padding: 15px;
}

.popup-form__label {
  margin-bottom: 40px;
}

.popup-form__label-agree {
  display: block;
  position: relative;
  color: $white-color;
  font-size: 14px;
  line-height: 16px;
  font-family: $pt-mono-regular-font;
  margin-bottom: 30px;
  margin-left: 40px;
}

.popup-form__item-input [placeholder] {
  @include main-text;
  color: $white-color;
}

.popup-form__input-checkbox + label::before {
  @include checkbox;
  background: url("../img/checkbox-off.svg") no-repeat;
}

.popup-form__input-checkbox:checked + label::before {
  @include checkbox;
  background: url("../img/checkbox-on.svg") no-repeat;
}

.popup-form__input-checkbox:focus + label::before,
.popup-form__input-checkbox:hover + label::before {
  @include checkbox;
  background: url("../img/checkbox-off-hover.svg") no-repeat;
}

.popup-form__input-checkbox:checked:focus + label::before,
.popup-form__input-checkbox:checked:hover + label::before {
  @include checkbox;
  background: url("../img/checkbox-on-hover.svg") no-repeat;
}

.popup-form__input-checkbox:active + label::before {
  @include checkbox;
  background: url("../img/checkbox-off-hover.svg") no-repeat;
}

.popup-form__input-checkbox:checked:active + label::before {
  @include checkbox;
  background: url("../img/checkbox-on-active.svg") no-repeat;
}
