.popup {
  display: none;
  position: fixed;
  top: 20px;
  background-color: $blue-color;
  z-index: 100;
  width: 50%;
  margin-left: 25%;
}

.popup__wrapper {
  @include page-size;
  margin-top: 20px;
} 

.popup__header {
  color: $white-color;
  font-family: $roboto-mono-regular-font;
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 20px;
}

.popup__text {
  @include main-text;
  color: $white-color;
  margin-bottom: 20px;
}

.popup__button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 17px;
  height: 17px;
  background-image: url("../../img/icon-close.svg");
  background-color: $blue-color;
  border: none;
}

.popup--show {
  display: block;
}
