.popup-success {
  position: fixed;
  top: 20px;
  left: 40%;
  width: 20%;
  background-color: $white-color;
  padding: 30px;
  text-align: center;
  z-index: 100;
  border: 10px solid $blue-color;
  display: none;
  &--show {
    display: block;
  }
}

.popup-success__header {
  @include main-header;
  margin-bottom: 30px;
}

.popup-success__button {
  @include blue-button;
  padding: 15px;
}

.popup-success__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 17px;
  height: 17px;
  background-image: url("../../img/icon-close-blue.svg");
  background-color: $white-color;
  border: none;
}
