.promo {
  color: white;
  padding-bottom: 40px;
  background-image: url("../../img/motherboard.png");
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: 100% 60%;
  padding-top: 60px;
}

.promo__info {
  width: 70%;
}

.promo__title {
  font-family: "RobotoMono-Regular", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
}

.promo__description {
  font-family: "PTMono-Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}

.promo__icon {
  margin-right: 20px;
  margin-top: 10px;
  width: 66px;
  height: 2px;
}

.promo__text {
  margin: 0;
}

.promo__button {
  font-family: "PTMono-Bold", "Arial", sans-serif;
  color: white;
  background-color: $blue-color;
  padding: 15px 30px;
  border: none;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 70px;
  text-transform: uppercase;
}

.promo__button--mobile {
  display: none;
}

@media (max-width: 1023px) {
  .promo__icon {
    width: 33px;
    padding-top: 5px;
  }

  .promo__title {
    font-size: 40px;
  }

  .promo__button {
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .promo {
    background-size: 100%;
    background-position: 20% 0;
  }

  .promo__button--desktop {
    display: none;
  }

  .promo__info {
    width: 100%;
  }

  .promo__button--mobile {
    display: block;
  }

  .promo__button {
    width: 100%;
    margin: 0;
  }
}
