.promo {
  @include flex-row;
  color: $white-color;
  padding-bottom: 40px;
  margin: 0 auto;
  background-image: url("../../img/motherboard.png");
  background-size: 700px 500px;
  background-repeat: no-repeat;
  background-position: left calc(50% + 352px) top 0;
}

.promo__title {
  padding-top: 60px;
  font-family: $roboto-mono-regular-font;
  text-transform: uppercase;
  font-size: 80px;
  margin-bottom: 30px;
  width: 100%;
}

.promo__description {
  @include flex-row;
  font-family: $roboto-mono-regular-font;
  font-size: 22px;
  line-height: 34px;
  width: 80%;
}

.promo__icon {
  text-align: left;
  margin: 0;
  margin-right: 20px;
  width: 66px;
  height: 2px;
}

.promo__icon svg {
  width: 66px;
  height: 2px;
}

.promo__text {
  margin: 0;
  width: 100%;
}

.promo__button {
  @include blue-button;
  font-size: 16px;
  padding: 15px 30px;
  margin-top: 40px;
  margin-left: 86px;
}

.promo__button--mobile {
  display: none;
}

@media (max-width: $tablet-width) {
  .promo {
    background-size: 700px 500px;
    background-origin: border-box;
  }

  .promo__icon svg {
    width: 33px;
    height: 2px;
  }

  .promo__title {
    font-size: 60px;
  }

  .promo__button {
    margin-left: 50px;
  }

  .promo__description {
    font-size: 18px;
  }
}

@media (max-width: $mobile-width) {
  .promo__title {
    margin-top: 220px;
    font-family: $roboto-mono-regular-font;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 30px;
    width: 100%;
  }

  .promo__button--desktop {
    display: none;
  }

  .promo__info {
    width: 100%;
  }

  .promo__button--mobile {
    display: block;
  }

  .promo__button {
    width: 100%;
    margin: 0;
  }

  .promo__description {
    font-size: 16px;
  }

  .promo {
    background-size: 100% 300px;
    background-position: center top;
  }
}
