.promo {
  position: relative;
  color: $white-color;
  background-image: url("../../img/background-promo-desktop.svg");
  background-repeat: no-repeat;
  background-position: 10% 0;
  
  
}

.promo::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 10%;
  width: 90%;
  height: 515px;
  background-image: url("../../img/motherboard-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: left calc(50% + 366px) top 0;
  
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/motherboard-desktop@2x.png");
  }
}

.promo__wrapper {
  @include page-size;
  position: relative;
  height: 100%;
  padding-bottom: 274px;
}

.promo__title {
  margin-bottom: 30px;
  padding-top: 55px;
  width: 100%;
  font-family: $robotocondensedbold;
  text-transform: uppercase;
  font-size: 5rem;
  line-height: 94px;
  letter-spacing: 0.07em;
}

.promo__description {
  @include flex-row;
  width: 51%;
  font-family: $pt-mono-regular-font;
  font-size: 22px;
  line-height: 34px;
}

.promo__button-scroll {
  position: absolute;
  left: -45px;
  top: 400px;
  transform: rotate(-90deg);
  margin-top: 40px;
  color: $white-color;
  opacity: 0.5;
  cursor: pointer;
  line-height: 16px;
  font-family: $pt-mono-regular-font;
  text-decoration: none;
}

.promo__icon {
  margin: 0;
  margin-right: 20px;
  text-align: left;
}

.promo__icon svg {
  width: 66px;
  height: 2px;
}

.promo__button {
  @include blue-button;
  margin-top: 40px;
  margin-left: 86px;
  padding: 21px 48px;
  font-size: 16px;
  line-height: 19px;
  font-family: $robotocondensedbold;
  display: inline-block;
  text-align: center;
}

.promo__button--mobile {
  display: none;
}

@media (max-width: $tablet-width) {
  .promo__icon svg {
    width: 33px;
  }

  .promo__button-scroll {
    display: none;
  }

  .promo {
    padding-top: 40px;
    margin-bottom: 55px;
    background-image: url("../../img/background-promo-tablet.svg");
    background-position: 60% -80px;
  }

  .promo::before {
    content: "";
    position: absolute;
    top: 30px;
    left: -2%;
    width: 781px;
    height: 700px;
    background-image: url("../../img/motherboard-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: left calc(50% + 260px) top 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/motherboard-tablet@2x.png");
    }
  }

  .promo__title {
    font-size: 3.75rem;
    margin-left: 65px;
    padding-top: 70px;
    width: 50%;
    line-height: 70px;
    margin-bottom: 30px;
  }

  .promo__description {
    font-size: 18px;
    margin-left: 65px;
    margin-bottom: 18px;
    line-height: 28px;
    width: 70%;
  }

  .promo__button {
    @include blue-button;
    margin-top: 40px;
    margin-left: 115px;
    padding: 18px 33px;
    font-size: 16px;
    line-height: 19px;
    font-family: $robotocondensedbold;
  }

  .promo__wrapper {
    margin-bottom: 0;
    padding-bottom: 160px;
  }
}

@media (max-width: $mobile-width) {
  .promo {
    padding-bottom: 17px;
    background-image: url("../../img/background-promo-mobile.svg");
    left: 0;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
  }

  .promo::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 515px;
    left: 0;
    background-image: url("../img/motherboard-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: left 7% top 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/motherboard-mobile@2x.png");
    }
  }

  .promo__wrapper {
    padding-bottom: 50px;
  }

  .promo__title {
    margin-top: 140px;
    font-size: 2.5rem;
    line-height: 47px;
    width: 100%;
    margin-left: 0;
    padding-top: 20px;
  }

  .promo__description {
    margin-bottom: 6px;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    margin-left: 0;
  }

  .promo__button {
    width: 95%;
    margin-left: 0;
    margin-bottom: 0;
    padding: 17px;
    margin-top: 30px;
  }

  .promo__button--desktop {
    display: none;
  }

  .promo__button--mobile {
    display: inline-block;
  }
}
