.promo {
  position: relative;
  margin: 0 auto;
  padding-bottom: 280px;
  color: $white-color;
  background-image: url("../../img/motherboard.png");
  background-size: 700px 500px;
  background-repeat: no-repeat;
  background-position: left calc(50% + 400px) top 0;
}

.promo__title {
  margin-bottom: 30px;
  padding-top: 2rem;
  width: 100%;
  font-family: $roboto-mono-regular-font;
  text-transform: uppercase;
  font-size: 5rem;
  line-height: 94px;
  letter-spacing: 0.07em;
}

.promo__description {
  @include flex-row;
  width: 60%;
  font-family: $roboto-mono-regular-font;
  font-size: 22px;
  line-height: 34px;
}

.promo__button-scroll {
  position: absolute;
  left: 0;
  bottom: 100px;
  transform: rotate(-90deg);
  margin-left: 0;
  margin-top: 40px;
  background-color: transparent;
  border: none;
  color: $white-color;
  opacity: 0.5;
  cursor: pointer;
}

.promo__icon {
  margin: 0;
  margin-right: 20px;
  text-align: left;
}

.promo__icon svg {
  width: 66px;
  height: 2px;
}

.promo__text {
  margin: 0;
  width: 85%;
}

.promo__button {
  @include blue-button;
  margin-top: 40px;
  margin-left: 86px;
  padding: 15px 30px;
  font-size: 16px;
}

.promo__button--mobile {
  display: none;
}

@media (max-width: $tablet-width) {
  .promo__icon svg {
    width: 33px;
  }

  .promo__button-scroll {
    display: none;
  }

  .promo {
    margin-left: 45px;
    background-size: 465px 340px;
    background-position: left calc(50% + 340px) top 0;
    padding-bottom: 160px;
  }

  .promo__title {
    font-size: 3.75rem;
    margin-left: 45px;
    margin-bottom: 20px;
    width: 50%;
  }

  .promo__button {
    margin-left: 90px;
  }

  .promo__description {
    font-size: 18px;
    margin-left: 45px;
  }
}

@media (max-width: $mobile-width) {
  .promo {
    @include page-size;
    padding-bottom: 30px;
    background-size: 300px 220px;
    background-position: center top;
    margin: 0 auto;
    width: 100%;
  }

  .promo__title {
    margin-top: 120px;
    margin-left: 0;
    font-size: 2.5rem;
    width: 100%;
  }

  .promo__description {
    margin-bottom: 30px;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    margin-left: 0;
  }

  .promo__button {
    width: 100%;
    margin-left: 0;
    margin-bottom: 50px;
  }

  .promo__button--desktop {
    display: none;
  }

  .promo__button--mobile {
    display: block;
  }
}
