.promo {
  color: $white-color;
  padding-bottom: 40px;
  background-image: url("../../img/motherboard.png");
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: 100% 60%;
  padding-top: 60px;
}

.promo__info {
  width: 70%;
}

.promo__title {
  font-family: $roboto-mono-regular-font;
  text-transform: uppercase;
  font-size: 80px;
}

.promo__description {
  @include flex-row;
  font-family: $roboto-mono-regular-font;
  font-size: 22px;
  line-height: 34px;
  width: 75%;
}

.promo__icon {
  margin-right: 20px;
  margin-top: 10px;
  width: 66px;
  height: 2px;
}

.promo__icon svg {
  width: 66px;
  height: 2px;
}

.promo__text {
  margin: 0;
}

.promo__button {
  font-family: $pt-mono-regular-font;
  color: $white-color;
  background-color: $blue-color;
  font-size: 16px;
  padding: 15px 30px;
  border: none;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 75px;
  text-transform: uppercase;
}

.promo__button--mobile {
  display: none;
}

@media (max-width: $tablet-width) {
  .promo__icon svg {
    width: 33px;
    height: 2px;
  }

  .promo__title {
    font-size: 60px;
  }

  .promo__button {
    margin-left: 50px;
  }

  .promo__description {
    font-size: 18px;
  }
}

@media (max-width: $mobile-width) {
  .promo {
    background-size: 100%;
    background-position: 20% 0;
  }

  .promo__button--desktop {
    display: none;
  }

  .promo__info {
    width: 100%;
  }

  .promo__button--mobile {
    display: block;
  }

  .promo__button {
    width: 100%;
    margin: 0;
  }

  .promo__title {
    font-size: 40px;
  }

  .promo__description {
    font-size: 16px;
  }
}
