.services {
  background-color: $header-bg-color;
  padding-top: 80px;
  padding-bottom: 60px;
}

.services__wrapper {
  @include page-size;
}

.services__title {
  @include container;
  @include main-header;
  @include container;
  color: $white-color;
  margin-bottom: 50px;
}

.services__list {
  @include flex-row;
  @include cancel;
  @include container;
  flex-wrap: wrap;
}

.services__item {
  position: relative;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 10px;
  min-height: 400px;
  width: 25%;
  background-size: 100%;
  background-color: transparent;
  margin-bottom: 20px;
  z-index: 20;
}

.services__info {
  color: $white-color;
  opacity: 1;
  font-size: 20px;
}

.services__item--production::after {
  content: "";
  background-image: url("../../img/producing.png");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.services__item--mounting::after {
  content: "";
  background-image: url("../../img/mounting.png");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.services__item--parts::after {
  content: "";
  background-image: url("../../img/parts.png");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

@media (max-width: $tablet-width) {
  .services__list {
    @include flex-column;
    margin-left: 0;
  }

  .services__item {
    width: 100%;
    min-height: 250px;
  }
}
