.services {
  background-color: $header-bg-color;
  padding-top: 90px;
  padding-bottom: 110px;
}

.services__wrapper {
  @include page-size;
}

.services__title {
  @include container;
  @include main-header;
  margin-bottom: 50px;
  color: $white-color;
}

.services__list {
  @include flex-row;
  @include cancel;
  @include container;
  flex-wrap: wrap;
}

.services__item {
  position: relative;
  margin-bottom: 20px;
  padding-top: 55px;
  padding-left: 4%;
  padding-right: 10px;
  min-height: 566px;
  max-height: 100%;
  width: 27%;
  background-size: 100%;
  background-color: transparent;

  &--parts::after {
    @include picture-after;
    background-size: cover;
    background-image: url("../img/parts-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/parts-desktop@2x.png");
    }
  }

  &--mounting::after {
    @include picture-after;
    background-size: cover;
    background-image: url("../img/mounting-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/mounting-desktop@2x.png");
    }
  }

  &--production::after {
    @include picture-after;
    background-image: url("../img/producing-desktop@1x.png");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/producing-desktop@2x.png");
    }
  }

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}

.services__button {
  @include blue-button;
  position: absolute;
  width: 63px;
  height: 63px;
  bottom: 0;
  right: 0;
  left: auto;
  z-index: 30;
  border: none;
  border-radius: 0;
  background-image: url("../img/icon-more.svg");
  background-size: 15px 10px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.services__info {
  position: relative;
  color: $white-color;
  font-size: 20px;
  line-height: 30px;
  z-index: 10;
  width: 50%;
  font-family: $robotocondensedbold;
  font-weight: normal;
}

@media (max-width: $tablet-width) {
  .services {
    padding-top: 45px;
    padding-bottom: 35px;
  }

  .services__list {
    @include flex-column;
  }

  .services__item {
    width: 93%;
    min-height: 218px;
    margin-right: 30px;
    padding-top: 38px;
    padding-left: 6%;
    margin-bottom: 44px;

    &--parts::after {
      background-image: url("../img/parts-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/parts-tablet@2x.png");
      }
    }

    &--mounting::after {
      background-image: url("../img/mounting-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/mounting-tablet@2x.png");
      }
    }

    &--production::after {
      background-image: url("../img/producing-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/producing-tablet@2x.png");
      }
    }
  }

  .services__info {
    width: 28%;
  }

  .services__title {
    width: 98%;
    margin-bottom: 48px;
  }
}

@media (max-width: $mobile-width) {
  .services {
    background-color: $header-bg-color;
    padding-top: 42px;
  }

  .services__item {
    width: 93%;
    min-height: 240px;
    margin-right: 30px;
    padding-top: 15px;
    padding-left: 13%;
    margin-bottom: 30px;

    &--parts::after {
      background-image: url("../img/parts-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/parts-mobile@2x.png");
      }
    }

    &--mounting::after {
      background-image: url("../img/mounting-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/mounting-mobile@2x.png");
      }
    }

    &--production::after {
      background-image: url("../img/producing-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/producing-mobile@2x.png");
      }
    }
  }

  .services__info {
    position: relative;
    color: $white-color;
    font-size: 20px;
    line-height: 30px;
    z-index: 10;
    width: 60%;
  }

  .services__button {
    width: 63px;
    height: 63px;
    bottom: 0;
    right: 0;
    left: 73%;
    z-index: 30;
    border-radius: 0;
    background-image: url("../img/icon-more.svg");
    background-size: 15px 10px;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .services__title {
    line-height: 43px;
    margin-bottom: 40px;
  }
}
