.services {
  background-color: $header-bg-color;
  padding-top: 90px;
  padding-bottom: 110px;
}

.services__wrapper {
  @include page-size;
}

.services__title {
  @include container;
  @include main-header;
  margin-bottom: 50px;
  color: $white-color;
}

.services__list {
  @include flex-row;
  @include cancel;
  @include container;
  flex-wrap: wrap;
}

.services__item {
  position: relative;
  margin-bottom: 20px;
  padding-top: 55px;
  padding-left: 4%;
  padding-right: 10px;
  min-height: 566px;
  max-height: 100%;
  width: 27%;
  background-size: 100%;
  background-color: transparent;

  &--parts::after {
    @include picture-after;
    background-size: cover;
    background-image: url("../../img/parts.png");
  }

  &--mounting::after {
    @include picture-after;
    background-image: url("../../img/mounting.png");
    background-size: cover;
  }

  &--production::after {
    content: "";
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 5;
    background-image: url("../../img/producing.png");
    background-size: cover;
  }

  &:hover {
    opacity: 0.9;
  }
  
  &:active {
    opacity: 0.8;
  }
}

.services__button {
  @include blue-button;
  position: absolute;
  min-width: 63px;
  height: 63px;
  bottom: 0;
  right: 0;
  left: auto;
  z-index: 30;
  border: none;
  border-radius: 0;
  background-image: url("../../img/icon-more.svg");
  background-size: 15px 10px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.services__info {
  position: relative;
  color: $white-color;
  font-size: 20px;
  line-height: 30px;
  z-index: 10;
  width: 50%;
  font-family: $robotocondensedbold;
  font-weight: normal;
}

@media (max-width: $tablet-width) {
  .services__list {
    @include flex-column;
  }
  
  .services {
    padding-top: 45px;
    padding-bottom: 35px;
  }

  .services__item {
    width: 93%;
    min-height: 218px;
    margin-right: 30px;
    padding-top: 35px;
    padding-left: 6%;
    margin-bottom: 47px;
  }
  .services__info {
    width: 29%;
  }
}

@media (max-width: $mobile-width) {
  .services {
    background-color: $header-bg-color;
    padding-top: 42px;
  }
  
  .services__info {
  position: relative;
  color: $white-color;
  font-size: 20px;
  line-height: 30px;
  z-index: 10;
  width: 60%;
}

.services__item {
    width: 93%;
    min-height: 240px;
    margin-right: 30px;
    padding-top: 15px;
    padding-left: 13%;
    margin-bottom: 30px;
  
}
.services__title {
  line-height: 43px;
  margin-bottom: 40px;
}
}
