.social-list {
  @include flex-row;
  flex-wrap: wrap;
  @include cancel;
  width: 115px;
}

.social-list__item {
  margin-right: 16px;
  cursor: pointer;
}

.social-list__item svg {
  color: #cdcdcd;

  &:hover {
    color: #8a8a8a;
  }

  &:active,
  &:focus {
    color: #dbdbdb;
  }
}

.social-list__item:last-child {
  margin-right: 0;
}

@media (max-width: $tablet-width) {
  .social-list {
    text-align: center;
    padding-top: 18px;
  }
}

@media (max-width: $mobile-width) {
  .social-list {
    justify-content: space-around;
    margin: 0 auto;
  }
}
