.stay {
  position: relative;
  padding-bottom: 110px;
  background-color: $blue-color;
}

@media (min-width: $desktop-width) {
  .stay {
    background-image: url("../../img/background-form.svg");
    background-repeat: no-repeat;
  
    &::before {
      content: "";
      top: 150px;
      left: 15%;
      width: 511px;
      height: 288px;
      position: absolute;
      background-image: url("../../img/paper_airplane.png");
      background-size: 511px 288px;
      background-repeat: no-repeat;
    }
  }
}

.stay__container {
  @include page-size;
}

.stay__wrapper {
  @include container;
  margin-top: 90px;
}

.stay__forms {
  width: 49%;
  margin-left: 52%;
}

.stay__header {
  @include main-header;
  font-weight: normal;
  color: $white-color;
  margin-bottom: 10px;
}

.stay__text {
  @include main-text;
  margin-bottom: 49px;
  color: $white-color;
}

@media (max-width: $tablet-width) {
  .stay__container {
    background-image: none;
    margin: auto;
    &:before {
      display: none;
    }
  }

  .stay__forms {
    width: 100%;
    
    margin-left: 0;
  }
  .stay__wrapper {
    margin-top: 25px;
  }

  .stay__header {
    line-height: 43px;
  }

  
  .stay__text {
    margin-bottom: 25px;
  }
  
  .stay {
    padding-bottom: 40px;
    background-color: $blue-color;
  }
}
