.stay {
  padding-bottom: 30px;
  background-color: $blue-color;
}

.stay__container {
  @include page-size;
  background-image: url("../../img/paper_airplane.png");
  background-position: 80px 80px;
  background-repeat: no-repeat;
  background-size: 380px 200px;
}

.stay__wrapper {
  @include container;
  margin-top: 90px;
}

.stay__forms {
  width: 50%;
  margin-left: 50%;
}

.stay__header {
  @include main-header;
  font-weight: normal;
  color: $white-color;
}

.stay__text {
  @include main-text;
  margin-bottom: 30px;
  color: $white-color;
}

@media (max-width: $tablet-width) {
  .stay__container {
    background-image: none;
  }

  .stay__forms {
    width: 100%;
    margin-left: 0;
  }
}
