.stay {
  position: relative;
  padding-bottom: 122px;
  background-color: $blue-color;
}

@media (min-width: $desktop-width) {
  .stay {
    background-image: url("../img/background-form.svg");
    background-repeat: no-repeat;

    &::before {
      content: "";
      top: 150px;
      right: 55%;
      width: 511px;
      height: 288px;
      position: absolute;
      background-image: url("../img/paper-airplane@1x.png");
      background-size: 511px 288px;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/paper-airplane@2x.png");
      }
    }
  }
}

.stay__container {
  @include page-size;
}

.stay__wrapper {
  @include container;
  margin-top: 90px;
}

.stay__forms {
  margin-left: 51%;
}

.stay__header {
  @include main-header;
  font-weight: normal;
  color: $white-color;
  margin-bottom: 10px;
}

.stay__text {
  @include main-text;
  margin-bottom: 54px;
  color: $white-color;
}

@media (max-width: $tablet-width) {
  .stay__container {
    background-image: none;
    width: 77%;

    &::before {
      display: none;
    }
  }

  .stay__forms {
    margin-left: 0;
  }

  .stay__wrapper {
    margin-top: 0;
  }

  .stay__header {
    line-height: 43px;
    margin-bottom: 17px;
  }

  .stay__text {
    margin-bottom: 52px;
  }

  .stay {
    padding-top: 80px;
    padding-bottom: 103px;
    background-color: $blue-color;
  }
}

@media (max-width: $mobile-width) {
  .stay {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .stay__header {
    line-height: 40px;
    margin-bottom: 12px;
  }

  .stay__text {
    margin-bottom: 25px;
  }

  .stay__container {
    width: 90%;
  }
}
