.stay {
  background-color: $blue-color;
  padding-bottom: 30px;
}

.stay__container {
  @include page-size;
}

.stay__wrapper {
  @include container;
  @include flex-row;
  margin-top: 90px;
  color: $white-color;
}

.stay__forms {
  width: 60%;
}

.stay-icon {
  padding-top: 40px;
}

.stay__header {
  @include main-header;
  font-weight: normal;
}

.stay__text {
  @include main-text;
  margin-bottom: 30px;
}

@media (max-width: $tablet-width) {
  .stay__icon {
    display: none;
  }

  .stay__forms {
    width: 100%;
  }
}
