.stay {
  padding-bottom: 110px;
  background-color: $blue-color;
}

.stay__container {
  @include page-size;
  background-image: url("../../img/paper_airplane.png");
  background-position: 80px 80px;
  background-repeat: no-repeat;
  background-size: 380px 200px;
}

.stay__wrapper {
  @include container;
  margin-top: 90px;
}

.stay__forms {
  width: 49%;
  margin-left: 52%;
}

.stay__header {
  @include main-header;
  font-weight: normal;
  color: $white-color;
  margin-bottom: 10px;
}

.stay__text {
  @include main-text;
  margin-bottom: 49px;
  color: $white-color;
}

@media (max-width: $tablet-width) {
  .stay__container {
    background-image: none;margin: auto;
  }

  .stay__forms {
    width: 83%;
    
    margin-left: 0;
  }
  .stay__wrapper {
    margin-top: 78px;
    margin-left: 9%;
  }

  .stay__header {
    @include main-header;
    font-weight: normal;
    color: $white-color;
    margin-bottom: 15px;
  }
  
  .stay__text {
    margin-bottom: 52px;
  }
  
  .stay {
    padding-bottom: 101px;
    background-color: $blue-color;
  }
}
