@font-face {
  font-family: "RobotoMono-Regular";
  src: url("../fonts/RobotoMono-Regular.woff") format("woff"),
    url("../fonts/RobotoMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono-Bold";

  src: url("../fonts/RobotoMono-Bold.woff") format("woff"),
    url("../fonts/RobotoMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTMono-Regular";
  src: url("../fonts/PTMono-Regular.woff") format("woff"),
    url("../fonts/PTMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono-Bold";

  src: url("../fonts/RobotoMono-Bold.woff") format("woff"),
    url("../fonts/RobotoMono-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
