@mixin cancel {
  list-style: none;
}

@mixin page-size {
  max-width: 1430px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    width: 94%;
  }

  @media (max-width: $mobile-width) {
    width: 92%;
  }
}

@mixin visually-hiddens {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin main-header {
  font-size: 2.25rem;
  font-family: $robotocondensedbold;
  color: $black-color;
  line-height: 51px;

  @media (max-width: $tablet-width) {
    font-size: 2rem;
    line-height: 49px;
  }

  @media (max-width: $mobile-width) {
    font-size: 1.75rem;
  }
}

@mixin main-text {
  font-size: 16px;
  color: $black-color;
  font-family: $pt-mono-regular-font;
  line-height: 22px;
}

@mixin button-text {
  font-size: 0.875rem;
  font-family: $pt-mono-bold-font;
  line-height: 16px;
  text-transform: uppercase;
}

@mixin white-button {
  @include button-text;
  color: $white-color;
  background-color: transparent;
  border: 1px solid $white-color;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 0.05em;

  &:hover {
    color: #dbdbdb;
    border: 1px solid #dbdbdb;
  }

  &:active,
  &:focus {
    color: #8a8a8a;
    border: 1px solid #8a8a8a;
    outline: none;
  }
}

@mixin blue-button {
  font-family: $pt-mono-regular-font;
  color: $white-color;
  background-color: $blue-color;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.05em;

  &:hover {
    background-color: $light-blue-color;
    color: #dbdbdb;
    border: none;
  }

  &:active,
  &:focus {
    background-color: $active-blue-color;
    color: #8a8a8a;
    border: none;
    outline: none;
  }
}

@mixin blue-border-button {
  @include button-text;
  color: $blue-color;
  background-color: $white-color;
  border: 1px solid $blue-color;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 0.05em;

  &:hover {
    border: 1px solid $light-blue-color;
    color: $light-blue-color;
  }

  &:active,
  &:focus {
    border: 1px solid $active-blue-color;
    color: $active-blue-color;
    outline: none;
  }
}

@mixin white-link {
  cursor: pointer;

  &:hover {
    color: #dbdbdb;
  }

  &:active,
  &:focus {
    color: #8a8a8a;
    outline: none;
  }
}

@mixin black-link {
  &:hover {
    color: #8a8a8a;
  }

  &:active,
  &:focus {
    color: #dbdbdb;
    outline: none;
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin container {
  width: 83%;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

@mixin logo-header {
  font-family: $robotocondensedbold;
  font-weight: bold;
  font-size: 1.5625rem;
  line-height: 29px;
}

@mixin logo-add {
  font-family: $roboto-mono-regular-font;
  font-size: 0.75rem;
  color: $grey-color;
}

@mixin footer-title {
  font-family: $robotocondensedbold;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: $header-bg-color;
  letter-spacing: 0.05em;
}

@mixin footer-list-item {
  font-family: $pt-mono-regular-font;
  font-size: 0.9375rem;
  color: $header-bg-color;
  opacity: 0.5;
  letter-spacing: 0.03em;
  text-decoration: none;
  line-height: 25px;
}

@mixin footer-copyrights {
  font-family: $pt-mono-regular-font;
  font-size: 0.8125rem;
  line-height: 24px;
  color: $header-bg-color;
  opacity: 0.5;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@mixin icon-absolute-position {
  content: "";
  position: absolute;
  top: 40px;
  left: 45px;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;

  @media (max-width: $tablet-width) {
    top: 25px;
    left: 25px;
  }
}

@mixin toggle {
  display: none;

  @media (max-width: $mobile-width) {
    cursor: pointer;
    display: block;
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
    background: transparent;
    border: none;
    background-repeat: no-repeat;
  }
}

@mixin picture-after {
  content: "";
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 5;
}

@mixin input {
  border: none;
  padding: 15px 5%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 86%;
  color: $black-color;
  outline: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &:active,
  &:focus {
    background-color: rgba(255, 255, 255, 0.9);
  }

  &::placeholder {
    @include main-text;
    color: $white-color;
  }

  &::placeholder:active,
  &::placeholder:focus {
    color: $black-color;
    outline: none;
  }

  @media (max-width: $tablet-width) {
    padding: 20px 8%;
  }
  
  @media (max-width: $mobile-width) {
    padding: 20px 6%;
    width: 100%;
  }
}

@mixin text-area {
  color: $black-color;
  background-color: rgba(255, 255, 255, 0.1);
  width: 90%;
  padding: 15px 5%;
  border: none;
  resize: none;
  outline: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: $black-color;
  }

  &:active,
  &:focus {
    background-color: rgba(255, 255, 255, 0.9);
    color: $black-color;
    outline: none;
  }

  @media (max-width: $tablet-width) {
    height: 135px;
    padding: 13px 4%;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    height: 80px;
  }

  &::placeholder {
    color: $white-color;
    font-size: 16px;
  }
}

@mixin checkbox {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;
  width: 23px;
  height: 23px;
}

.visually-hidden {
  @include visually-hiddens;
}
