@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";

// header
@import "blocks/header.scss";
@import "blocks/logo.scss";
@import "blocks/contacts.scss";
@import "blocks/navigation.scss";
@import "blocks/promo.scss";

// main
@import "blocks/about-company.scss";
@import "blocks/advantages.scss";
@import "blocks/services.scss";
@import "blocks/stay.scss";
@import "blocks/form.scss";

// footer
@import "blocks/footer.scss";
@import "blocks/footer-logo.scss";
@import "blocks/about-site.scss";
@import "blocks/about-office.scss";
@import "blocks/social-list.scss";
@import "blocks/copyrights.scss";
