@import "variables.scss";
@import "fonts.scss";


// header
@import "blocks/header.scss";
@import "blocks/logo.scss";
@import "blocks/contacts.scss";
@import "blocks/navigation.scss";
@import "blocks/promo.scss";

// main
@import "blocks/about.scss";
@import "blocks/advantages.scss";
@import "blocks/services.scss";
