$header-bg-color: #1b2d37;
$footer-bg-color: #fafafa;
$footer-logo-color: #203c42;
$grey-color: #788891;
$white-color: #ffffff;
$blue-color: #00b2ff;
$light-blue-color: #00bfff;
$active-blue-color: #7fc7ff;
$light-grey: #e5e5e5;
$border-color: #ebebeb;
$black-color: #666666;
$pt-mono-regular-font: "PTMono-Regular", "Arial", sans-serif;
$pt-mono-bold-font: "RobotoMono-Bold", "Arial", sans-serif;
$roboto-mono-bold-font: "RobotoMono-Bold", "Arial", sans-serif;
$roboto-mono-regular-font: "RobotoMono-Regular", "Arial", sans-serif;
$robotocondensedbold: "Robotocondensedbold", "Arial", sans-serif;
$robotocondensedregular: "Robotocondensedregular", "Arial", sans-serif;

$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

* {
  margin: 0;
  padding: 0;
}
