$header-bg-color: #1b2d37;
$footer-bg-color: #fafafa;
$footer-logo-color: #203C42;
$desktop-width: 1024px;
$max-tablet-width: 1023px;
$grey-color: #788891;
$white-color: #ffffff;
$blue-color: #00b2ff;
$light-grey: #e5e5e5;
$border-color: #ebebeb;
$black-color: #666666;
$pt-mono-regular-font: "PTMono", "Arial", sans-serif;
$roboto-mono-bold-font: "RobotoMono", "Arial", sans-serif;
$roboto-mono-regular-font: "RobotoMono", "Arial", sans-serif;
$pt-mono-mono-bold-font: "PTMono", "Arial", sans-serif;

@mixin cancel {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin page-size {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin container {
  width: 85%;
  margin: 0 auto;
  @media (max-width: 1023px) {
    width: 100%;
  }
}

